<a href="https://colab.research.google.com/github/HRIDYANS/MY_PYTHON_PROJECT/blob/main/Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. A financial analyst stores monthly revenues in a list: [120000,135000, 128000, 142000, 150000]. Find the difference between the highest and lowest revenue without using loops.

In [5]:
L1= [120000,135000, 128000, 142000, 150000]
Diff = max(L1)- min(L1)
print(Diff)

30000

2. Given the tuple account = ('Asha', 'Savings', 56000, 'KCH'), unpack the values into
separate variables and print a formatted string: 'Asha has ₹56000 in her Savings account (Branch: KCH)'.

In [8]:
account = ('Asha', 'Savings', 56000, 'KCH')
name,acctype,bal,branch=account
print(f"{name} has ₹{bal} in her {acctype} account (Branch: {branch})")

Asha has ₹56000 in her Savings account (Branch: KCH)

3. Convert the list of string numbers ['45000', '56000', '38000'] to integers and find
their average balance.

In [15]:
numbers=['45000', '56000', '38000']
int_num=

int_num= [int(num) for num in numbers]
avg_bal=  sum(int_num)/len(int_num)
print(f"Their avg balance : {avg_bal}")

Their avg balance : 46333.333333333336

4. Create a list with elements: ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']. Replace
'Delhi' with 'Hyderabad' and print the new list in reverse order using slicing.

In [16]:
elements= ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']
elements[-2] = 'Hyderabad'
print(elements[::-1])

['Pune', 'Hyderabad', 'Mumbai', 'Chennai', 'Kochi']

5. You have two tuples: interest_2024 = (7.1, 7.3, 7.2) and interest_2025 = (7.4, 7.5).
Combine them and print the average of all interest rates.

In [17]:
interest_2024 = (7.1, 7.3, 7.2)
interest_2025 = (7.4, 7.5)
Full_int=interest_2024+interest_2025
avg=sum(Full_int)/len(Full_int)
print(f"The average of all interest rates:{avg}")

The average of all interest rates:7.3

6.A string variable branch_id = 'TVM-FIN-2025'. Extract the branch code (first three letters) and the year (last four digits).

In [20]:
branch_id = 'TVM-FIN-2025'
br_id=branch_id[:3]
br_yr=branch_id[-4:]
print(f"The branch code {br_id} and the year{br_yr}")

The branch code TVM and the year2025

 7. Create a list transactions = [10000, -2000, 5000, -1500, 3000]. Without using loops, find total deposits and withdrawals using list slicing or indexing only.

In [58]:

tran = [10000, -2000, 5000, -1500, 3000]
sum_dep = sum([tran[0], tran[2], tran[4]])
sum_with = sum([tran[1], tran[3]])
print(f"Total deposits: {sum_dep} and withdrawals: {sum_with}")

Total deposits: 18000 and withdrawals: -3500

8.Given name = 'John Doe' and balance = 72500, print a message in title case stating
'John Doe has a balance of ₹72500'. Ensure no type errors occur.

In [22]:
name = 'John Doe'
bal = 72500
print(f"{name} has a balance of ₹{bal}")

John Doe has a balance of ₹72500

9. A tuple customer = ('Kiran', 'Loan', 80000, 7.5). Calculate and print the total amount
payable after 1 year if interest is simple interest based on rate 7.5%.

In [26]:
customer = ('Kiran', 'Loan', 80000, 7.5)
inter= customer[2]*(1+customer[3]/100)
print(f"The total amount payable after 1 year is: {inter}")

The total amount payable after 1 year is: 86000.0

10. Create two lists – branches = ['Kochi', 'Chennai', 'Mumbai'] and profits = [120000,
95000, 134000]. Form a new list of tuples pairing each branch with its profit.

In [27]:
branches = ['Kochi', 'Chennai', 'Mumbai']
profits = [120000, 95000, 134000]
tup=[(branches[0],profits[0]),(branches[1],profits[1]),(branches[2],profits[2])]
print(f"{tup}")

[('Kochi', 120000), ('Chennai', 95000), ('Mumbai', 134000)]

 11. From a list salaries = [45000, 56000, 38000, 62000, 54000], extract the top three
salaries using slicing only.

In [62]:

salaries = [45000, 56000, 38000, 62000, 54000]
sal= salaries[3],salaries[1],salaries[4]
print(f"{sal}")

(62000, 56000, 54000)

12. Given the tuple exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9), convert it into a list
and change the third value to 84.0.

In [33]:
exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9)
l1=list(exchange_rates)
l1[2]=84.0
print(f"{l1}")

[83.2, 83.1, 84.0, 83.0, 82.9]

 13. Combine two lists customer_names = ['Asha', 'John', 'Meera'] and balances = [56000,
72000, 65000] into a formatted string such as 'Asha:56000, John:72000, Meera:65000'
without loops.

In [36]:
customer_names = ['Asha', 'John', 'Meera']
balances = [56000, 72000, 65000]
print(customer_names[0],":",balances[0],customer_names[1],":",balances[1],customer_names[2],":",balances[2])

Asha : 56000 John : 72000 Meera : 65000

 14. Given account_info = (Deepa, 'Savings', 98000), use string formatting to print a
sentence 'Account Holder Deepz has ₹98000 in Savings account'.

In [38]:
account_info = ('Deepa', 'Savings', 98000)
name,acctype,bal=account_info
print(f"Account Holder {name}z has ₹{bal} in {acctype} account'.")

Account Holder Deepaz has ₹98000 in Savings account'.

 15. Create a nested list storing branch names and their monthly collections: [['Kochi',
[120000, 135000]], ['Chennai', [95000, 110000]]]. Print only the collection of Chennai
branch without using loops.

In [46]:
collections= ['Kochi', [120000, 135000]], ['Chennai', [95000, 110000]]
col=collections [1][1]
print(f"The collection of chennai is {col}")

The collection of chennai is [95000, 110000]